<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disk0,GUID_partition_scheme,250059350016</key>
	<array>
		<dict>
			<key>Content</key>
			<string>EFI</string>
			<key>DeviceIdentifier</key>
			<string>disk0s1</string>
			<key>DiskUUID</key>
			<string>E7CC7D5B-1D75-488D-ACD3-B3B5292425BE</string>
			<key>MountPoint</key>
			<string>/Volumes/EFI</string>
			<key>Size</key>
			<integer>209715200</integer>
			<key>VolumeName</key>
			<string>EFI</string>
			<key>VolumeUUID</key>
			<string>0E239BC6-F960-3107-89CF-1C97F78BB46B</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>Apple_APFS</string>
			<key>DeviceIdentifier</key>
			<string>disk0s2</string>
			<key>DiskUUID</key>
			<string>E32D890B-0AAF-4475-BD61-AE7911CE196D</string>
			<key>Size</key>
			<integer>249849593856</integer>
		</dict>
	</array>
	<key>disk1,disk0s2,07F8277B-1DFC-4D27-ADFB-495BAD351F14,249849593856,0</key>
	<array>
		<dict>
			<key>DeviceIdentifier</key>
			<string>disk1s1</string>
			<key>DiskUUID</key>
			<string>C8089FB1-FA34-3616-BD63-280F7446D0D9</string>
			<key>MountPoint</key>
			<string>/</string>
			<key>Size</key>
			<integer>249849593856</integer>
			<key>VolumeName</key>
			<string>Sierra</string>
			<key>VolumeUUID</key>
			<string>C8089FB1-FA34-3616-BD63-280F7446D0D9</string>
			<key>index</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>DeviceIdentifier</key>
			<string>disk1s2</string>
			<key>DiskUUID</key>
			<string>0CA7A9E3-6A9C-451F-AAC9-0665AE581511</string>
			<key>Size</key>
			<integer>249849593856</integer>
			<key>VolumeName</key>
			<string>Preboot</string>
			<key>VolumeUUID</key>
			<string>0CA7A9E3-6A9C-451F-AAC9-0665AE581511</string>
			<key>index</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>DeviceIdentifier</key>
			<string>disk1s3</string>
			<key>DiskUUID</key>
			<string>A25D70DF-263B-479A-82B1-7631DBA7C5FA</string>
			<key>Size</key>
			<integer>249849593856</integer>
			<key>VolumeName</key>
			<string>Recovery</string>
			<key>VolumeUUID</key>
			<string>A25D70DF-263B-479A-82B1-7631DBA7C5FA</string>
			<key>index</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>DeviceIdentifier</key>
			<string>disk1s4</string>
			<key>DiskUUID</key>
			<string>C415ED1A-E3E9-4071-AA8B-172FFDC800AD</string>
			<key>MountPoint</key>
			<string>/private/var/vm</string>
			<key>Size</key>
			<integer>249849593856</integer>
			<key>VolumeName</key>
			<string>VM</string>
			<key>VolumeUUID</key>
			<string>C415ED1A-E3E9-4071-AA8B-172FFDC800AD</string>
			<key>index</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>disk2,GUID_partition_scheme,500107862016</key>
	<array>
		<dict>
			<key>Content</key>
			<string>Microsoft Reserved</string>
			<key>DeviceIdentifier</key>
			<string>disk2s1</string>
			<key>DiskUUID</key>
			<string>A0AE950F-D628-4D14-A0A7-7033F5AC74CE</string>
			<key>Size</key>
			<integer>16777216</integer>
		</dict>
		<dict>
			<key>Content</key>
			<string>Microsoft Basic Data</string>
			<key>DeviceIdentifier</key>
			<string>disk2s2</string>
			<key>DiskUUID</key>
			<string>BB2DB184-11CA-42D2-8FC9-561EBF11F675</string>
			<key>Size</key>
			<integer>208871387136</integer>
			<key>VolumeUUID</key>
			<string>45E444C4-2406-4047-BC3F-C82C1BC132EB</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>Windows Recovery</string>
			<key>DeviceIdentifier</key>
			<string>disk2s3</string>
			<key>DiskUUID</key>
			<string>FE926CA1-26F6-448D-8656-E57ED8C7A9AB</string>
			<key>Size</key>
			<integer>822525952</integer>
		</dict>
		<dict>
			<key>Content</key>
			<string>Microsoft Basic Data</string>
			<key>DeviceIdentifier</key>
			<string>disk2s4</string>
			<key>DiskUUID</key>
			<string>6AD50BDE-FF51-4C1B-A90A-0191ECE30364</string>
			<key>MountPoint</key>
			<string>/Volumes/WIN_DATA</string>
			<key>Size</key>
			<integer>290394025984</integer>
			<key>VolumeName</key>
			<string>WIN_DATA</string>
			<key>VolumeUUID</key>
			<string>A62F6124-7B47-4981-A06A-1A99CEE608AF</string>
		</dict>
	</array>
</dict>
</plist>
